Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
variable= "Hello",[1,2,3.45],(34,54,),3.45

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [3]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [4]:
a = 10
b = 8




# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Division:  1.25
Floor Division:  1
Modulo:  2
Power:  100000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [5]:
list=[5,96,58,45,86,78,26,36,47]
result = 1
for i in list :
    result = result * i
print (result)

369699195340800

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
a=int(input())
b=int(input())
while (a%b==0): 
        c=a/b
        print(c)
        break

 45
 45

1.0

#### Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [3]:
list= [*range(0,26,1)]
for i in list:
    print(i)
    if (list[i]%3 == 0) :
        print("Divisible")
      
    else:
        print(' Not Divisible')

0
Divisible
1
 Not Divisible
2
 Not Divisible
3
Divisible
4
 Not Divisible
5
 Not Divisible
6
Divisible
7
 Not Divisible
8
 Not Divisible
9
Divisible
10
 Not Divisible
11
 Not Divisible
12
Divisible
13
 Not Divisible
14
 Not Divisible
15
Divisible
16
 Not Divisible
17
 Not Divisible
18
Divisible
19
 Not Divisible
20
 Not Divisible
21
Divisible
22
 Not Divisible
23
 Not Divisible
24
Divisible
25
 Not Divisible

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### mutable   
   we can change the value example list

### mutable   
   we can change the value example list

In [5]:
l=[23,45,43,57,34]

In [7]:
l

[23, 45, 43, 57, 34]

In [9]:
l[0]=485

In [10]:
l

[485, 45, 43, 57, 34]

### immutable
cant be change the value example string

In [12]:
s ='HELLO'

In [19]:
s[2] = r

NameError: name 'r' is not defined